<ul class="mdl-list">

    <li *ngIf="!items" class="mdl-list__item">No grocery items.</li>

    <li *ngFor="let item of items" class="mdl-list__item">
        <input
            (change)="updateItemName(item._links.self.href, newItemName.value)"
            #newItemName
            class="mdl-textfield__input"
            type="text"
            value="{{ item.name }}"
            autocomplete="off">
        <a (click)=deleteItem(item._links.self.href); class="mdl-list__item-secondary-action" href="#"><i class="material-icons">clear</i></a>
    </li>

</ul>

<form action="#" (ngSubmit)="addItem(newItemName.value); newItemName.value=''">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input 
        #newItemName
        name="name"
        class="mdl-textfield__input"
        type="text"
        id="addGroceryInput">
      <label class="mdl-textfield__label" for="addGroceryInput">Item</label>
    </div>
</form>