<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">

        <!-- Tabs -->
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#shopping-panel" class="mdl-tabs__tab">Shopping</a>
                <a href="#groceries-panel" class="mdl-tabs__tab is-active">Groceries</a>
            </div>
            <div class="mdl-tabs__panel" id="shopping-panel">
                
                <!-- Shopping List -->
                <shopping-list>Loading shopping list</shopping-list>

            </div>
            <div class="mdl-tabs__panel is-active" id="groceries-panel">

                <!-- Grocery List -->
                <grocery-list>Loading groceries</grocery-list>

            </div>
        </div>

    </div>
    <div class="mdl-layout-spacer"></div>
</div>

